/* 

alterado com base em:

http://www.templatemo.com/tm-474-app-landing

*/


html {
    overflow: hidden;
}
body {
    background: #ffffff;
    overflow: auto;
    height: 100vh;
}
/***** Typography *****/
body, p, a, th, td, li, dl, .form-control { font: normal normal 300 18px/2em 'Nunito', sans-serif;}
b, strong, dt { font-weight: 400;}
h1, h2, h3, h4, h5, h6 { line-height: 2em;}
/***** Material Shadow *****/
.shadow-top-down {
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.75);
    transition: all .5s;
}
.shadow-top-down:hover { box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);}

/***** Template Header *****/
header.template_header h1 {
    font: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #000000;
    background-color: #ffffff;
    
}
header.template_header h1 span {
    position: relative; 
    top: -15px;
}

.logo{
    position: relative;
    margin-top: 15%;
    left:15%;
    margin-bottom: 100px;
    
}
/***** Main Menu *****/
nav.main-menu {
    top: 130px;
    right: 100px;
    z-index: 998;
    display: none;
    position: fixed;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(37,58,68,.15);
}
nav.main-menu a:link, nav.main-menu a:hover, nav.main-menu a:focus, nav.main-menu a { 
    color: #000000;
    text-align: left;
    font: normal normal 400 18px/30px 'Nunito', sans-serif;;
    padding: 10px 30px 10px 30px;
    border-radius: 0;
}
.show-menu {
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 100px;
    text-align: center;
}
.show-menu a:hover, .show-menu a {
    font: normal normal 100 100px/70px 'Nunito', sans-serif;;
    border: 1px solid rgba(37,58,68,.15);
    text-decoration: none;
    border-radius: 50px;
    background: #fff;
    display: block;
    color: #000000;
    width: 70px;
    height: 70px;
    padding: 0px;
    outline: none;
}
/***** Home *****/
#templatemo_home {
    background: url(../images/verde.jpg) fixed;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 130px;
}
#templatemo_home .templatemo_home_inner_wapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#templatemo_home h1 {
    margin-top: 20vh;
    font: normal normal 400 70px/80px 'Nunito', sans-serif;;
}
#templatemo_home h2 {
    font: normal normal 100 36px/40px  'Nunito', sans-serif;;
}
#templatemo_home p {
    margin: 50px 0 50px 0;
    font: normal normal 100 18px/40px 'Nunito', sans-serif;;
}
#templatemo_home p a {
    background-color: rgba(255,255,255,.6);
    border-bottom: 1px dotted #000;
    text-decoration: none;
    padding: 5px;
    color: #000;
}
#templatemo_home p a:hover {
    background-color: rgba(255,255,255,.75);
    border-bottom: 0px dotted #000;
}
#templatemo_home a.btn_wapper {
    margin-bottom: 150px;
}
#templatemo_home a.btn {
    font: normal normal 300 18px/60px 'Nunito', sans-serif;;
    margin-bottom: 30px;
    border-radius: 0px;
    background: #fff;
    height: 63px;
    color: #000;
    padding: 0;
}
/***** Features *****/
#templatemo_features {
    background: #455a64 url(../images/fundo2.jpg) fixed;
    background-size: cover;
    padding-bottom: 130px;
}
#templatemo_features p {
    padding-bottom: 30px;
    text-align: center;
}
#templatemo_features .feature-box {
    transition: all .5s;
    background: transparent;
    padding: 40px 0 40px 0;
    margin-bottom: 0px;
    margin-top: 0px;
}
#templatemo_features .feature-box:hover {
    padding: 0;
    color: #fff;
}
#templatemo_features .feature-box .feature-box-inner {
    box-shadow: inset 0px 0px 0 10px #e65a27;
    border-bottom: 10px solid #e65a27;
    border-top: 10px solid #e65a27;
    transition: all .5s;
    background: #fff;
    padding: 20px;
    margin: auto;
}
#templatemo_features .feature-box:hover .feature-box-inner {
    box-shadow: inset 0px 0px 0px 0px #e65a27;
    border-bottom: 10px solid #e65a27;
    border-top: 10px solid #e65a27;
    padding: 60px 20px 60px 20px;
    background: #e65a27;
}
#templatemo_features .feature-box p {
    max-width: 250px;
    min-height: 260px;
    line-height: 32px;
    padding-top: 30px;
    font-size: 18px;
    margin: auto;
}
#templatemo_features .feature-box .feature-box-icon {
    border-radius: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 56px;
    color:#000000;
}
/***** Download *****/
#templatemo_download { 
    background: url(../images/fundo3.jpg) fixed;
    background-size: cover;
}
#templatemo_download h2 {
    font: normal normal 100 100px/150px 'Nunito', sans-serif;;
    text-align: center;
    color: #fff;
}
#templatemo_download p {
    text-align: center;
    color: #000000;
    background: #ffffff;
    margin-top: 50px;
    
}
#templatemo_download a {
    margin: 50px auto 100px auto;
    display: block;
    width: 260px;
}
#templatemo_download .templatemo_download_text_wapper {
    width: 100%;
    margin: auto;
    border: 5px;
 
}


/***** Element *****/
#templatemo_element .container {
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-bottom: 40px;
    border-radius: 5px;
}
#templatemo_element header h1 { color: #000;}
#templatemo_element #element-icon-wapper {
    overflow: hidden;
    border-radius: 5px;
}
#templatemo_element #element-icon-wapper > div {
    background-color: rgba(0,0,0,.05);
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
#templatemo_element #element-icon-wapper > div:hover {
    transition: .5s;
    background-color: rgba(0,0,0,.2);
}
#templatemo_element #element-icon-wapper a { color: #000;}
#templatemo_element #img-grid-wapper > div { padding: 5px;}

footer {
    padding: 20px 0 16px 0;
    text-align: center;
    background: #fff;
}
.footer-copyright p {
    margin:20px auto 20px auto;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    color: #666;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .show-menu {right: 50px;}
    nav.main-menu {right: 50px;}
}
@media (max-width: 991px) {
    .show-menu {right: 30px;}
    nav.main-menu {right: 30px;}
}
@media (max-width: 767px) {
    #templatemo_download h2 {font-size: 70px;}
    #templatemo_home h2 {font-size: 26px;}
}
@media (max-width: 400px) {
    nav.main-menu {right: 10px;}
    .show-menu {right: 10px;}
  
}